main .links-sociales{
  list-style: none;
  margin: 0;
  pading: 0;
}

main .lin-sociales li a{
  border-top: 1px solid #6095c7
}

ain .links-sociales li a{
  border-radius: 0 0 5px 5px;
}

main .links-sociales li a{
 display: block;
 padding: 20px;
 text-decoration: none;
 color: white;
 transition: padding-left .3s ease;
}

main .links-sociales li a:hover {
  background-color: #5395d3;
  padding-left: 25px;
}

main .links-sociales li a img{
  vertical-align: middle;
  margin-right: 10px;
}
