.contacto {
  padding: 20px
}

.contacto label {
  color: white;
  font-size: 14px;
  display: block;
  margin-bottom: 4px;
}

.contacto input[type="text"],
.contacto input[type="email"],
.contacto textarea {
  background-color: #3b6e9d;
  border: 0px;
  border-radius: 3px;
  padding: 15px;
  color: white;
  font-size: 14px;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;/*CSS3*/
  outline: none;
  transition: box-shoadow .1s ease, background-color .1s ease;
}

.contacto texteame {
  resize:none;
}

.contacto input[type="text"]:focus,
.contacto input[type="email"]:focus,
.contacto textarea:focus {
  box-shadow: 0 0 0 3px #89d123;
  background-color: #365dbe;
}

.contacto input[type="submit"] {
  background: linear-gradient(#89d123, #6eb805);
  border-radius: 3px;
  color: white;
  font-size: 14px;
  padding: 15px;
  cursor: pointer;
  outline: none;
}

.contacto input[type="submit"]:hover {
  background: linear-gradient(#9ff624, #94e61f); /*CSS3*/
}

.contacto input[type="submit"]:active {

}
